.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
MANIFEST
dialogflow_secret.json
logs

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.bin
.vs