{
  "handlerTypes": ["none"],
  "level": "DEBUG",
  "format": "%(asctime)s %(levelname)s [%(filename)s:%(lineno)s - %(funcName)s()] \r\n\t %(message)s",
  "appendToFile": true,
  "filePath": "logs/nlpapi.log",
  "handlerTypeOptions": ["file", "console", "none"],
  "levelOptions": ["NOTSET", "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"]
}